
<main>
     
  <mat-card class="box1" >
    <mat-card-content>
      <div class="flex-container">
           <div class="totalcases">
              <mat-label><h5>Total  Cases</h5></mat-label>
              <mat-label>{{locatTotalCases}}</mat-label>
            </div>
            <div class="deathscases">
             <mat-label><h5> Total Deaths</h5></mat-label>
             <mat-label>{{localDeaths}}</mat-label>
            </div> 
            <div class="recoverdcases">
              <mat-label><h5>Recovered & Discharged</h5></mat-label>
              <mat-label> {{localRecovered}}</mat-label>
            </div>
            <div class="activecases">
              <mat-label><h5> Active Cases</h5></mat-label>
              <mat-label> {{localActiveCases}}</mat-label>
           </div>
      </div>        
    </mat-card-content>
  </mat-card>


<mat-card class="box2" >
<mat-card-content>

<mat-label class="pcr"><h4>PCR TESTS PER DAY</h4></mat-label>

<div class="mat-elevation-z8 ">
  <table mat-table [dataSource]="dataSource2">

  
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> PCR DATE </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

   
    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef> PCR COUNT </th>
      <td mat-cell *matCellDef="let element"> {{element.count}} </td>
    </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[2, 4, 6, 10, 20]">
    </mat-paginator>



</div>

</mat-card-content>

</mat-card>


<mat-card  class="box3">
<mat-card-content>
  <div class="chart-wrapper">
    <canvas baseChart 
    [data]="doughnutChartData"
    [labels]="doughnutChartLabels"
    [chartType]="doughnutChartType">
  </canvas>
</div>

</mat-card-content>
</mat-card>

<mat-card class="box4" >
<mat-card-header>
<mat-card-title>PCR DATA</mat-card-title>
</mat-card-header>
<mat-card-content>
  <div class="chart-wrapper">
    <canvas baseChart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins">
    </canvas>
  </div>

</mat-card-content>

</mat-card>

<mat-card  class="box5" >
<mat-card-header>
<mat-card-title>Global Search</mat-card-title>
</mat-card-header>
<mat-card-content>
  <form [formGroup] = "covidForm" class="flex-container" >
    
    <mat-form-field>
      <input 
             placeholder="Select Country"
             aria-label="Country"
             matInput
             formControlName ="countryName"
             [matAutocomplete]="auto">
      <mat-autocomplete  #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredStates | async" [value]="option.Slug"   >
          {{option.Country}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field >
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate  formControlName ="startDate"  placeholder="Start date">
        <input matEndDate  formControlName ="endDate"  placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <button mat-fab color="primary"  (click) = "getGlobaleCases()"  aria-label="Example icon button with a delete icon">
      <mat-icon>search</mat-icon>
    </button>
  </form>
</mat-card-content>

<div class="mat-elevation-z8 ">
  <mat-form-field style= "align-content: end !important;" >
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
  
  <table mat-table [dataSource]="dataSource3">

    <!-- Position Column -->
    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef> PCR DATE </th>
      <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Cases">
      <th mat-header-cell *matHeaderCellDef> CASES </th>
      <td mat-cell *matCellDef="let element"> {{element.Cases}} </td>
    </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
    </table>
   
    <mat-paginator 
    
    [pageSize]="10" [pageSizeOptions]="[2, 4, 6, 10, 20]">
    </mat-paginator>


</div>

</mat-card>

</main>   