<h2 >COVID-19 LIVE DASHBOARD</h2>
<main>
     
  <mat-card class="box1" >
    <mat-card-content>
      <h3>   SL Figures</h3>
      <div class="flex-container">
           <div class="totalcases" data-aos="fade-right"   data-aos-offset="200"
           data-aos-delay="50"
           data-aos-duration="1000">
              <mat-label ><h6>Total  Cases</h6></mat-label>
              <mat-label class="lg"><p>{{locatTotalCases}}<p></mat-label>
            </div>
            <div class="recoverdcases"  data-aos="fade-right"  data-aos-offset="200"
            data-aos-delay="100"
            data-aos-duration="1000">
              <mat-label ><h6>Recovered & Discharged</h6></mat-label>
              <mat-label  class="lg"> {{localRecovered}}</mat-label>
            </div>
            <div class="activecases"  data-aos="fade-right" data-aos-offset="200"
            data-aos-delay="150"
            data-aos-duration="1000">
              <mat-label><h6> Active Cases</h6></mat-label>
              <mat-label  class="lg"> {{localActiveCases}}</mat-label>
           </div>
            <div class="deathscases"  data-aos="fade-right" data-aos-offset="200"
            data-aos-delay="200"
            data-aos-duration="1000">
             <mat-label ><h6> Total Deaths</h6></mat-label>
             <mat-label  class="lg">{{localDeaths}}</mat-label>
            </div> 
             <div class="newcases"  data-aos="fade-right" data-aos-offset="200"
             data-aos-delay="250"
             data-aos-duration="1000">
              <mat-label><h6> New Cases</h6></mat-label>
              <mat-label class="lg" > {{localNewCases}}</mat-label>
           </div>
      </div>        
    </mat-card-content>
  </mat-card>


<mat-card class="box2"  data-aos="flip-up"  data-aos-offset="200"
data-aos-delay="150"
data-aos-duration="1000" >
<mat-card-content>
  <h3>  GLOBAL Figures</h3>
  <div class="flex-container2">
    <div class="totalcases" >
       <mat-label ><h6>Global Total  Cases</h6></mat-label>
       <mat-label ><p>{{global_total_cases}}</p></mat-label>
     </div>
     <div class="recoverdcases" >
       <mat-label ><h6>Global Recovered</h6></mat-label>
       <mat-label> {{global_recovered}}</mat-label>
     </div>
     <div class="deathscases" >
      <mat-label ><h6> Global Total Deaths</h6></mat-label>
      <mat-label>{{global_deaths}}</mat-label>
     </div> 
</div>        

       

</mat-card-content>

</mat-card>


<mat-card  class="box3"  data-aos="flip-up">
<mat-card-content>
  <h3 >SL Cases breakdown</h3>
  <div class="chart-wrapper" style="justify-content: center;">
   
    <canvas baseChart 
    [data]="doughnutChartData"
    [labels]="doughnutChartLabels"
    [colors]="doughnutChartColors"
    [chartType]="doughnutChartType"
    height= "{{chartHieght}}">
  </canvas>
</div>

</mat-card-content>
</mat-card>

<mat-card class="box4"  data-aos="fade-up"
data-aos-duration="3000">

<mat-card-content>
  <h3>PCR FIGURES</h3>
  <div class="chart-wrapper">
    <canvas baseChart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins"
        height= "{{chartHieght}}">
    </canvas>
  </div>

</mat-card-content>

</mat-card>

<mat-card  class="box5"  data-aos="fade-up"
data-aos-duration="3000"> >
<mat-card-content>
  <h3>Global Search</h3>
  <form [formGroup] = "covidForm" class="flex-container" >
    
    <mat-form-field>
      <input 
             placeholder="Select Country"
             aria-label="Country"
             matInput
             formControlName ="countryName"
             [matAutocomplete]="auto">
      <mat-autocomplete  #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredStates | async" [value]="option.Slug"   >
          {{option.Country}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field >
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate  formControlName ="startDate"  placeholder="Start date">
        <input matEndDate  formControlName ="endDate"  placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <button mat-fab color="primary"  (click) = "getGlobaleCases()"  aria-label="Example icon button with a delete icon">
      <mat-icon>search</mat-icon>
    </button>
  </form>
</mat-card-content>

<div class="mat-elevation-z8 ">
 
  
  <table mat-table [dataSource]="dataSource3">

    <!-- Position Column -->
    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef> TEST DATE RANGE</th>
      <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Cases">
      <th mat-header-cell *matHeaderCellDef> CASES </th>
      <td mat-cell *matCellDef="let element"> {{element.Cases}} </td>
    </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
    </table>
   
    <mat-paginator 
    
    [pageSize]="5" >
    </mat-paginator>


</div>
 
</mat-card>


</main>   
<footer>
  <div class="footer">
     <p>&#169; Dinuka Darshana 	</p>
   </div>
</footer>   